apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
    service.beta.kubernetes.io/azure-load-balancer-internal-subnet: "snet-adc-external"
  name: ingress-external-lb
  namespace: openshift-ingress
spec:
  type: LoadBalancer
  selector:
    ingresscontroller.operator.openshift.io/deployment-ingresscontroller: ingress-external
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 80
    - name: https
      port: 443
      protocol: TCP
      targetPort: 443
---
apiVersion: operator.openshift.io/v1
kind: IngressController
metadata:
  name: ingress-external
  namespace: openshift-ingress-operator
spec:
  domain: apps-external.<CLUSTERNAME>.uksouth.aroapp.io
  replicas: 3
  endpointPublishingStrategy:
    type: LoadBalancerService
    loadBalancer:
      scope: Internal
  nodePlacement:
    nodeSelector:
      matchLabels:
        node-role.kubernetes.io/infra: ""
        infra-segment: external
    tolerations:
      - key: node-role.kubernetes.io/infra
        effect: NoSchedule
        operator: Exists
      - key: node-role.kubernetes.io/infra
        effect: NoExecute
        operator: Exists
  routeSelector:
    matchLabels:
      ingress-type: "external"
  namespaceSelector:
    matchLabels:
      ingress-allowed: "external"
---
apiVersion: v1
kind: Namespace
metadata:
  name: external-apps
  labels:
    ingress-allowed: "external"

